body {
  
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: lightgray;
}

p {
  text-align: end;
}

button {
  height: 40px;
  margin: 15px;
  background-color: palevioletred;
  align-self: center;
  align-content: center;
  shape-outside: padding-box;
}